/* Global Settings */

* {
    margin: 15px;
}

/* Header */

#heading{
    color: firebrick;
    text-align: center;
}

/* Main Section (Form Section) */

#main {
    text-align: center;
}

.label1 {
    padding-right: 30px;
    color: firebrick;
}

.label11 {
    padding-right: 25px;
    color: firebrick;
}

.label111 {
    padding-right: 50px;
    color: firebrick;
}

input {
    height: 30px;
    width: 150px;
    margin: 0 45px 0 0;
    border: 1px solid black;  
}

button {
    border: 1px solid black;
}

#button1 {
    height: 40px;
    width: 65px;
    margin: 20px;
    margin-right: 60px;
    background: darkgray;
    border: 1px solid black;
}


